// colors
$white: rgb(230, 230, 230);
$black: rgb(45, 45, 45);
$primaryColor: rgb(0, 160, 200);
$accentColor: rgb(0, 135, 170);
$desColor: rgba(0, 160, 200, 0.2);

// sizes

$md: 768px;
$sm: 480px;
$lg: 976px;
$xl: 1200px;
