.exercise-detail {
	padding: 2rem;
	.exercise-detail__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		@media screen and (min-width: $md) {
			flex-direction: row-reverse;
			align-items: center;
		}
		.exercise-detail__details-text {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			.exercise-detail__details-info {
				.details-info {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 1rem;
					padding: 1rem;
					text-transform: capitalize;
					img {
						width: 50px;
					}
				}
			}
		}
		.exercise-detail__details-image {
			.detail-image {
				width: 300px;
				@media screen and (min-width: $lg) {
					width: 600px;
				}
			}
		}
	}
}
