.footer {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 1rem;
	padding: 2rem;
	p {
		font-size: clamp(0.85rem, 1vw, 1.5rem);
	}
}
