@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import './utils/variables';
@import './utils/base';

@import './components/navbar';
@import './components/heroBanner';
@import './components/searchExercises';
@import './components/exercises';
@import './components/exerciseDetail';
@import './components/loader';
@import './components/footer';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	body {
		font-family: 'Roboto', sans-serif;
		background-color: $white;
		color: $black;
	}
	&::-webkit-scrollbar {
		width: 0;
	}
}
