h1 {
	font-size: clamp(2.75rem, 4vw, 6.5rem);
	font-weight: 700;
}
h2 {
	font-size: clamp(2.25rem, 3vw, 5.5rem);
	font-weight: 700;
}
h3 {
	font-size: clamp(1.75rem, 2.5vw, 4rem);
	font-weight: 700;
}
h4 {
	font-size: clamp(1.5rem, 2vw, 3.25rem);
	font-weight: 400;
}
p {
	font-size: clamp(1rem, 1.5vw, 2rem);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: $black;
	transition: color 0.5s ease-in;
	&:hover {
		color: $primaryColor;
	}
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: $primaryColor;
	color: $white;
	font-weight: 600;
	padding: 0.75rem 1rem;
	border-radius: 0.25rem;
	transition: background-color 0.5s ease-in;
	align-self: flex-start;
	&:hover,
	&:focus {
		background-color: $accentColor;
	}
}

input {
	background-color: $white;
	border: 2px solid $white;
	padding: 0.35rem;
	outline: none;
	transition: border 0.5s ease-in;
	&:hover,
	&:focus {
		border: 2px solid $primaryColor;
	}
	&::placeholder {
		color: $black;
		font-size: 0.8rem;
		font-weight: 600;
	}
}

.colored {
	color: $primaryColor;
}

.left-arrow,
.right-arrow {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.blue-bg {
	color: $white;
	background: $blue500;
	font-weight: 700;
	border-radius: 5rem;
	padding: 0.5rem;
}
